/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/**************
 * Ivan custom styling
 ***********************/

body {
  color: grey;
  background: black;
}

/******************************************************************************
*******************************nav-bar STYLING*********************************
* *****************************************************************************/

.nav-bar {
  list-style-type: none; /*removes the bullet point format from the list style*/
  margin: 0 auto; /*removes margin around the elements boarder*/
  padding: 0; /*removes the padding around the elements boarder*/
  border: 1px solid #FFF;/*color is white and puts boarder around the Navbar*/
  border-bottom: none;/*ommits boarder on last list-item*/
  width: 360px;/*forces a fixed width for the block elements*/
  background-color: #952E8F; /*warm purple*/
}

.nav-bar li {
  border-bottom: 1px solid #FFF;/*puts a border around each list item*/
}

.nav-bar li a {
  text-align: center;
  padding: 0; /*removes the padding around the elements boarder*/
  display: block; /*the display-block enables the whole element to be clickable*/
  width: 360px;/*forces a fixed width for the block elements*/
  text-decoration: none;/*removes hyperlink formatting*/
  color: white;
}


.nav-bar li a:hover {
  background-color: white;
  color:#555;
}

h1 {
  font-family: Arial;
  font-size: 36px;
  text-align: center;
  line-height: 54px;
}

h2 {
  font-family: Arial;
  font-size: 22px;
  text-align: center;
  line-height: 33px;
}

h3 {
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}


li {
  font-family: Arial;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}


p {
  font-family: Arial;
  text-align: justify;
  font-size: 16px;
  line-height: 19px;
}

.latest-adventure-image {
  width: 640px;
  height: 480px;
  background: green;
  margin: auto;
}

.equipment {
  width: 640px;
  height: 240px;
  background: lightgoldenrodyellow;
  margin: auto;
}

.travel-bullets li{
  color: black;
  text-align: center;
}

.activity {
  width: 640px;
  height: 240px;
  background: lightcoral;
  margin: auto;
}

.recommendations{
  width: 640px;
  height: 480px;
  margin: auto;
  background: lightskyblue;
}

.recommendations p{
  color: black;
  margin: auto;
}

.recommendations h2{
  color: black;
  margin: auto;
}

.recommendations h3{
  color: black;
  margin: auto;
}

.recommendations li{
  color: black;
  margin: auto;
  text-align: center;
}