body {
  color: grey;
  background: black;
}

/******************************************************************************
*******************************nav-bar STYLING*********************************
* *****************************************************************************/

.nav-bar {
  list-style-type: none; /*removes the bullet point format from the list style*/
  margin: 0 auto; /*removes margin around the elements boarder*/
  padding: 0; /*removes the padding around the elements boarder*/
  border: 1px solid #FFF;/*color is white and puts boarder around the Navbar*/
  border-bottom: none;/*ommits boarder on last list-item*/
  width: 360px;/*forces a fixed width for the block elements*/
  background-color: #952E8F; /*warm purple*/
}

.nav-bar li {
  border-bottom: 1px solid #FFF;/*puts a border around each list item*/
}

.nav-bar li a {
  text-align: center;
  padding: 0; /*removes the padding around the elements boarder*/
  display: block; /*the display-block enables the whole element to be clickable*/
  width: 360px;/*forces a fixed width for the block elements*/
  text-decoration: none;/*removes hyperlink formatting*/
  color: white;
}


.nav-bar li a:hover {
  background-color: white;
  color:#555;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

li {
  text-align: center;
}

